
/* .node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: 0.5;
  stroke: #3182bd;
  stroke-width: 1.5px;
} */

.node text {
  font: 12px sans-serif;
  pointer-events: none;
}
.stnormal-node {
  fill: #c6dbef;
  stroke: blue;
  stroke-width: 0.5px;
}
